        /* GENERAL STYLES */
body {
  font-family: 'Inter', sans-serif;
  background-image: url('images/pattern-bg.svg'), url('images/pattern-quotes.svg'), url('images/pattern-curve.svg');
  background-attachment: local, local, local;
  background-repeat:no-repeat, no-repeat, no-repeat;
}
.text-div {
  display: none;
  min-height: 22em;
}
img {
  border-radius: 2px;
}
.test {
  z-index: 1;
  }
.test p:not(.student-info) {
  overflow: visible;
  font-size:32px;
  font-weight: 300;
}
.navi {
  display: flex;
  background-color: #fff;
  border-radius: 2em;
  width: 20%;
  min-width: 5em;
  min-height: 5%;
  position: relative;
}
.navi a {
  padding: .5em;
  height: 18px;
  width: 12px;
  margin: auto;
  /* padding: 10px;
  width: .7em;
  height: 1em; */
}
.student-info {
  font-weight: 700;
  color: hsl(240, 38%, 20%);
  display: inline-block;
}
span {
  font-weight: 500;
  color: hsl(240, 18%, 77%);
  font-size: 16px;
}
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

button {
  margin:auto;
  border: 0 ;
  background-color: transparent;
}
button:hover {
  background-color: #ddd;
}
button:active {
  border-width: 2px;
}
        /* DESKTOP STYLES */

body {
  background-position: right 4.5em bottom 5em, top 6.5em left 18em, left 0 bottom 0;
  background-size: 40% 80%, 9% 16%, 40% 18%;
}

.text-div {
  width: 80%;
  margin: 5.5em auto;
  flex-direction: row;
}

/* .image :not(.navi) {
  width: 45%;
} */
.image {
  width: 40%;
  align-self: center;
}
.image > img {
  box-shadow: 0 10px 20px hsl(240, 18%, 77%);
}
img {
  width: 100%;
  max-width: 100%;
}
.test {
  align-self: center;
  width: 60%
}
.test p:not(.student-info) {
margin-right: -2.4em;
margin-left: 2.2em;
}

.navi {
  bottom:1em;
  left: 4em;
}


          /* MOBILE STYLES */
@media screen and (max-width:375px) {
body {
  width: 80%;
  margin: auto;
  font-family: 'Inter', sans-serif;
  background-image: url('images/pattern-bg.svg'), url('images/pattern-curve.svg');
  background-attachment: local, local;
  background-repeat:no-repeat, no-repeat;
  background-position: center top 7em, left 0 bottom 0;
  background-size: 90% 35%, 70% 10%;
  text-align: center;
  }
  .text-div {
    flex-direction: column-reverse;
    margin-top: 3em;
    width: 100%;
  }
  .test {
    background: url('images/pattern-quotes.svg') local no-repeat  top center/20% 5em;
  }
  .test p:not(.student-info) {
    margin: auto;
  }
  .navi {
    left: 9em;
  }
  span {
    display: block;
  }
  .image, .test {
    width: 100%;
  }
  .attribution {
    margin: 3em auto;
  }
}
